/*header*/
header .con-header {
    background-color: #362B17;
    min-height: 70vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.con-header h1.titel-hdr {
    font-family: 'Playfair Display', serif;
    color: white;
    text-transform: uppercase;
}

.con-header p, .con-header a {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

.con-header p {
    max-width: 45ch;
    text-align: center;
    padding: 2.5em 0;
}

.con-header a {
    color: #362B17;
    text-decoration: none;
    padding: 0.8em 2em;
    background-color: white;
    text-transform: uppercase;
}

/*main*/
.con-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 80vh;
}

.con-main .pic-main {
    height: 350px;
    width: 350px;
    background-image: url("../media/home/ik.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.con-main .text-main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.con-main .text-main h1 {
    font-family: 'Playfair Display', serif;
    color: #362B17;
    max-width: 25ch;
}

.con-main .text-main p {
    font-family: 'Josefin Sans', sans-serif;
    max-width: 55ch;
    color: #362B17;
}

/*projecten*/
.con-proj {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.proj, .con-header a{transition: all 0.2s;}
.proj:hover, .con-header a:hover {scale: 1.05;}
.proj {border: 2px solid #362B17;}

.con-proj h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 2rem;
    padding: 0.5em 0;
    color: #362B17;
    text-transform: uppercase;
}

.con-proj .con-fotos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1em;
}

.con-proj .foto {
    min-height: 200px;
    min-width: 350px;
    background-size: cover;
    filter: brightness(50%);
}

.con-proj .fot1 {
    background-image: url("../media/home/f1.png");
}
.con-proj .fot2 {
    background-image: url("../media/home/p5.png");
    background-position: center;
}
.con-proj .fot3 {
    background-image: url("../media/home/colombus-zoo.png");
}

.con-proj p {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.6;
    color: #362B17;
    border-top: 2px solid #362B17;
    font-size: 1.25rem;
    text-align: center;
}